alias firefox='nohup firefox >/dev/null 2>&1 & disown; exit'
alias cdprogramfiles="cd ~/Omni/Ludi/drive_c/Program\ Files\ \(x86\)/"
alias cnixboot="clear && sudo nixos-rebuild boot --show-trace"
alias cnixrebuild="clear && nixrebuild --show-trace"
alias restartwaybar="pkill waybar; waybar &"
alias restartwaybarnohup="pkill waybar; nohup waybar >/dev/null 2>&1 & disown"
alias waybarconf="nvim ~/.OS/hyprland/waybar/config.jsonc"
alias catall="clear && cd ~/.OS && ~/.OS/catall.sh | wl-copy"
alias relics="cd ~/Omni/Reliquiae/"
alias sillytavern="cd ~/Omni/Librarium/Machinae/GIT/SillyTavern/ && node server.js"
alias odonnellrory="cd ~/Omni/Basilica/odonnellrory.github.io/ && nvim ."
alias nixinstall="nix profile install nixpkgs# "
alias nixrebuild="sudo nixos-rebuild switch"
alias nixconf="nvim ~/.OS/nixos/configuration.nix"
alias hyprconfig="nvim ~/.config/hypr/hyprland.conf"
alias hyprlandconf="nvim ~/.config/hypr/hyprland.conf"
alias taskrc="nvim ~/.taskrc"
alias ctask="clear && task"
alias token="nvim ~/.token.txt"
alias cdretro="cd ~/.config/retroarch/"
alias cr="cargo run"
alias sal="searchAliases"
alias dgit='docker run --rm -it -v "$PWD":/repo -w /repo alpine/git'
alias zshIcons="cat ~/.zshIcons"
alias zshScripts="nvim ~/.zshFunctions"
alias zshFunctions="nvim ~/.zshFunctions"
alias overthewire="nvim ~/.overthewire.txt"
alias sysinfo='clear && fastfetch && echo -e "\n--- USB Devices ---" && lsusb && echo -e "\n--- PCI Devices ---" && lspci && echo -e "\n--- Block Devices ---" && lsblk && echo -e "\n--- Memory Info ---" && free -h && echo -e "\n--- CPU Info ---" && lscpu && echo -e "\n--- Kernel & Uptime ---" && uname -r && uptime'
alias e.="electron ."
alias ff="fastfetch"
alias btc="bluetoothctl"
alias makeinstaller='electron-builder --win'
alias cls='clear'
alias nvimlua='cd ~/.config/nvim/lua/'
alias storage="ncdu --exclude '.*'"
alias gitpush="exec ~/Documents/Scripts/gitpushscript.sh"
alias makexe="npm run package:win"
alias giveme="sudo pacman -S"
alias kittyconf="sudo nvim ~/.config/kitty/kitty.conf"
alias kittycfg="sudo nvim ~/.config/kitty/kitty.conf"
alias zshrc="nvim ~/.zshrc"
alias vimrc="vim ~/.vimrc"
alias sourcezsh="source ~/.zshrc"
alias c='clear'
alias lsh='ls -dF --group-directories-first .[^.]* .??*'
alias aliases='nvim ~/.aliases'
alias notepad='nvim ~/.notepad.txt'
alias cmd='sgpt --shell'
alias chat='sgpt --repl'
alias chatl="sgpt --list-chats"
alias chath="sgpt --help"
alias sambacfg="sudo nvim /etc/samba/smb.conf"   
alias smbrestart="sudo systemctl restart smb"
alias nmbrestart="sudo systemctl restart nmb"
alias fstab="sudo nvim /etc/fstab"
alias install="sudo pacman -S"
alias isntall="sudo pacman -S"
alias sps="sudo pacman -S"
alias spsyu="sudo pacman -Syu"
alias vpn='sudo resolvconf -u && wg-quick up proton-NL'
