alias firefox='nohup firefox >/dev/null 2>&1 & disown; exit'
alias nixinstall="nix profile install nixpkgs# "
alias nixrebuild="sudo nixos-rebuild switch"
alias nixconf="sudo nvim /etc/nixos/configuration.nix"
alias hyprconfig="nvim ~/.config/hypr/hyprland.conf"
alias hyprlandconf="nvim ~/.config/hypr/hyprland.conf"
alias taskrc="nvim ~/.taskrc"
alias ctask="clear && task"
alias token="nvim ~/.token.txt"
alias cdretro="cd ~/.config/retroarch/"
alias cr="cargo run"
alias sal="searchAliases"
alias dgit='docker run --rm -it -v "$PWD":/repo -w /repo alpine/git'
alias zshIcons="cat ~/.zshIcons"
alias zshScripts="nvim ~/.zshScripts"
alias overthewire="nvim ~/.overthewire.txt"
alias sysinfo='clear && fastfetch && echo -e "\n--- USB Devices ---" && lsusb && echo -e "\n--- PCI Devices ---" && lspci && echo -e "\n--- Block Devices ---" && lsblk && echo -e "\n--- Memory Info ---" && free -h && echo -e "\n--- CPU Info ---" && lscpu && echo -e "\n--- Kernel & Uptime ---" && uname -r && uptime'
alias romedia="ssh 192.168.0.162"
alias unturnedserver="cd /home/rory/.local/share/Steam/steamapps/common/U3DS/Servers/Default/Server"
alias rogentoo="ssh 192.168.0.121 -v"
alias e.="electron ."
alias ff="fastfetch"
alias btc="bluetoothctl"
alias makeinstaller='electron-builder --win'
alias ams='cd ~/CNSetup/ && nvim .'
alias cn='cd ~/CNSetup/ && nvim .'
alias cls='clear'
alias nvimlua='cd ~/.config/nvim/lua/'
alias storage="ncdu --exclude '.*'"
alias gitpush="exec ~/Documents/Scripts/gitpushscript.sh"
alias makexe="npm run package:win"
alias giveme="sudo pacman -S"
alias kittyconf="sudo nvim ~/.config/kitty/kitty.conf"
alias kittycfg="sudo nvim ~/.config/kitty/kitty.conf"
alias zshrc="nvim ~/.zshrc"
alias vimrc="vim ~/.vimrc"
alias sourcezsh="source ~/.zshrc"
alias c='clear'
alias idea='nvim ~/Documents/Projects/workProjects/whatDoIWant.txt'
alias lsh='ls -dF --group-directories-first .[^.]* .??*'
alias aliases='nvim ~/.aliases'
alias notepad='nvim ~/.notepad.txt'
alias cmd='sgpt --shell'
alias chat='sgpt --repl'
alias chatl="sgpt --list-chats"
alias chath="sgpt --help"
alias sambacfg="sudo nvim /etc/samba/smb.conf"   
alias smbrestart="sudo systemctl restart smb"
alias nmbrestart="sudo systemctl restart nmb"
alias fstab="sudo nvim /etc/fstab"
alias install="sudo pacman -S"
alias isntall="sudo pacman -S"
alias sps="sudo pacman -S"
alias spsyu="sudo pacman -Syu"
alias vpn='sudo resolvconf -u && wg-quick up proton-NL'
